// Este mixin genera estilos para un botón personalizado.
@mixin fudo-button(
  $height,
  $background,
  $border-radius,
  $border-color,
  $text-color,
  $font-size
) {
  $border: none;
  $cursor: pointer;

  width: auto;
  height: $height;
  padding: 0px 16px;
  background: $background;
  color: $text-color;
  border: 1px $border-color solid;
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: 'Roboto-Bold';
  cursor: $cursor;

  &:hover {
    background: darken($background, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px lighten($background, 30%);
  }
}

@mixin fudo-icon-button() {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@mixin fudo-shape-button(
  $background-color,
  $color,
  $width,
  $height,
  $border-radius,
  $hover-color: darken($background-color, 10%)
) {
  display: inline-block;
  width: $width;
  height: $height;
  background-color: $background-color;
  color: $color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-color;
  }
}
