@import "abstracts/variables";

@mixin fudo-card($max-width: 400px) {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: $max-width;
  width: 100%;

  @media #{$mq-md} {
    flex-direction: row;
    padding: 20px;
  }
}
