@import 'abstracts/variables';
@import 'abstracts/colors';

@mixin fudo-card() {
  background-color: $color-giants-orange;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  color: $color-white;
}
