/**
 * @description
 *   Colors
 */
$color-medium-spring-bud: #d2dea2; // Color primary
$color-sage: #bdc69a;
$color-axolotl: #6c7760;
$color-azureish-white: #e2e8f0;
// $color-axolotl: #6c7760;
// $color-ebony: #5c6652;
$color-white: #fff;
$color-black: #000;
