@import 'components/button';
@import 'abstracts/colors';
@import 'abstracts/icons';
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

.fudo-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  @include small() {
    display: flex;
    flex-direction: column;
  }
}
